
nav {
    background-color: #333; 
}


nav .nav-wrapper a {
    color: white; 
}


nav .nav-wrapper a:hover {
    background-color: #000000;
}


.header-link {
    display: inline-block; 
    padding: 0;
    margin: 0;
    text-decoration: none; 
    color: inherit; 
}


nav .nav-wrapper ul li {
    display: inline-block; 
    margin-right: 20px; 
}


nav .nav-wrapper ul {
    margin: 0;
    padding: 0;
}

.center-align {
    text-align: center;
}


body, h1, h2, h3, .code-style {
    font-family: 'Orbitron', sans-serif;
    color: #fff; 
    background-color: #000; 
}

h1, h2, h3 {
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 20px 0; 
}

.page-deux h3 {
    font-size: 50px;
    color: #00ff00;
}

.page-deux p {
    font-size: 20px;
    line-height: 1.5; 
}


.code-style {
    color: #33ff33; 
    padding: 10px;
    border-left: 3px solid #33ff33;
}


.bio-text, .flex-container {
    margin: 20px 0; 
}

.flex-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%; 
}

.texteraid {
    margin-top: 5px;
}

.image-bio + .bio-text:not(.texteraid), .row + .row {
    margin-top: 300px; 
}


.page-deux .container {
margin-bottom: 60px;
}


.image-bio {
margin-bottom: 20px;
}


#nav-mobile li a {
    color: white; 
    padding: 0 15px;
    font-size: 16px; 
}


#nav-mobile li i {
    margin-right: 5px; 
}


#nav-mobile li img.circle {
margin-top: 5px; 
border: 2px solid white; 
}


#nav-mobile li a {
    transform: translateY(-10px); 
}


.login-register-container {
    text-align: end; 
    background-color: #333; 
}

.login-register-container a {
    margin: 0 10px; 
    color: white; 
}



input[type="text"], input[type="password"], input[type="email"] {
    color: #ffffff; 
    background-color: #fff;
    border: 1px solid #ccc; 
    padding: 5px; 
}


label {
    color: #fff; 
}

.profile-container {
    position: relative;
    display: inline-block; 
}

.logout-link {
    position: absolute;
    top: 100%; 
    right: 0; 
    background-color: #333; 
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: none; 
}

.logout-link a {
    white-space: nowrap; 
}

.logout-link a:hover {
    background-color: #444; 
}
.profile-container {
    z-index: 1000; 
}

